.footer-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* position: fixed; */
    bottom: 0;
    right: 0;
    z-index: 100;
    margin-top: 10%;
}

.footer-blurb {
    position: relative;
    left: 0px;
    padding: 1.5vw 1vw 1.5vw 5vw;
    /* margin-left: 1.5vw; */
    /* width: 30vw;
    padding: 1.5vw 1vw 1.5vw;
    margin-left: 1.5vw; */
}

.spero-berkeley {
    width: 30vw;
    padding: 1.5vw 1vw 1.5vw;
    margin-left: 1.5vw;
}

.footer-social-container {
    display: flex;
    flex-direction: column;
    width: 10vw;
    padding: 1vw;
    /* margin-right: 1.5vw; */
    z-index: 2;
}

.social-icons-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 2vw;
    justify-content: center;
    margin-bottom: 0.5vw;
}

.icon {
    width: 1.55vw;
    padding-right: 1vw;
    transition: width 0.25s;
}

.icon:hover {
    width: 2vw;
}

a {
    width: 100%;
    height: 2.2vw;
}

img {
    width: 100%;
}

.bottom-border {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35vw;
    height: 13.414vw;
    z-index: 1;
}

.bottom-border > img {
    height: 100%;
}

@media (max-width: 768px) {
    .footer-container {
        display: none;
    }
}
