.release-container {
    width: 45vw;
    height: 45vw;
    background: url('../images/design-photos/three-stickers-drawing.jpg')
        no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
