.release-container {
    width: 44.8vw;
    height: 44.8vw;
    background: url('../images/design-photos/three-stickers-drawing.jpg')
        no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* back: 0.5; */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
