body {
    background-color: #FFF1E6;
}
.about-main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: cover;
    background: url('../../images/about-bgimage.png') no-repeat center
        center;
    background-position: right -9vw;
    background-size: cover;
    height: 100%;
    background-color: #FFF1E6;
}
.about-caption-1 {
    text-align: center;
    padding-left: 20vw;
    padding-right: 20vw;
    z-index:100;
}

.ab-caption-title-1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 4vw;
    z-index: 10;
    color: #5c6a6f;
    padding-top: 8vw;
}
.ab-caption-content-1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1vw;
    z-index: 10;
    color: #5c6a6f;
    padding-top: 1.5vw;
}
.about-caption-2 {
    text-align: left;
    z-index:100;
    padding-left: 50vw;
    padding-top: 8vw;
    /* padding-left: 15vw;
    padding-right: 15vw; */
}
.ab-caption-title-2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.5vw;
    z-index: 10;
    color: #5c6a6f;
    padding-top: 8vw;
    text-align: left;
    /* padding-left: 15vw; */
    /* padding-right: 41.8vw; */
    /* background-color: #fff2e6; */
}

.ab-caption-content-2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1vw;
    z-index: 10;
    color: #5c6a6f;
    padding-top: 1vw;
    width: 25vw;
    text-align: tent;
    /* padding-left: 50vw; */
    /* padding-right: 15vw; */
    /* padding-bottom: 2vw; */
}
.about-image-0 {
    width: 59vw;
    z-index: 3;
    padding-top: 4vw;
    padding-bottom: 1vw;

}
.ab-image-container-1 {
    top: 4vw;
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
    z-index: 3;
    height: 0;
}
.ab-image-container-2 {
    top: 0vw;
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
    z-index: 3;
    height: 0;
}
.ab-image-container-3 {
    top: 0vw;
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
    z-index: 3;
    height: 0;
}
.about-image-1 {
    width: 20vw;
    /* margin-left: 25vw; */
    z-index: 3;
    margin-left: 4vw;
    overflow: hidden;
}
.about-image-2 {
    width: 20vw;
    z-index: 3;
    margin-left: 30vw;
    overflow: hidden;
}
.about-image-3 {
    width: 20vw;
    z-index: 3;
    margin-left: 4vw;
    overflow: hidden;
}
.about-line-1 {
    background-color: #5c6a6f;
    /* width: 35vw; */
    height: 0.125vw;
    top: 6vw;
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
    z-index: 1;
}
/* .about-subline-1 {
    background-color:#5c6a6f;
    width: 4vw;
    height: 0.125vw;
    top: 5.84vw;
    position: relative;
    margin-left: 75.1vw;
    margin-right: 20vw;
    z-index: 1;
} */
.about-bottom-container {
    /* height: 20vw; */
    padding-top: 5vw;
    /* background-color: #DDC79F; */
}
.ab-matthew {
    padding-top: 17vw;
    padding-left: 24.2vw;
    padding-bottom: 5vw;
    text-align: left;
}
.ab-explanation-1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.5vw;
    z-index: 10;
    /* text-align: center; */
    color: #5c6a6f;
    padding-left: 6vw;
    /* padding-left: 15vw;
    padding-right: 45.7vw; */
    /* padding-top: 8vw; */
}
.ab-subex-1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1vw;
    z-index: 10;
    color: #5c6a6f;
    padding-top: 1vw;
    width: 20vw;
    text-align: right;
    /* padding-left: 27.2vw;
    padding-right: 15vw;
    padding-bottom: 8vw; */
}
.about-line-2 {
    background-color: #5c6a6f;
    height: 0.125vw;
    /* top: 10vw; */
    z-index: 1;
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
    top: 3vw;
}
.ab-bottom-caption {
    padding-bottom: 5vw;
    padding-top: 12vw;
    z-index: 10;
    color: #5c6a6f;
}
.ab-vision {
    padding-left: 50vw;
    padding-right: 15vw;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.5vw;
    z-index: 10;
    text-align: left;
}
.ab-explanation-2 {
    font-family: 'Tenor Sans', sans-serif;
    text-align: left;
    font-size: 1vw;
    z-index: 10;
    color: #5c6a6f;
    padding-left: 50vw;
    padding-right: 15vw;
    padding-top: 1vw;
    width: 15vw;
}

@media (max-width: 480px) {
}
