.staff-main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
  }
  
.staff-card-container {
    /* background-color: red; */
    position: relative;
    width: 100vw;
    height:60vw;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    background-color: #fff2e6;
}

.cards-table {
    display:inline-block;
    margin-left: 12vw;
    width:76vw;
    /* height:25vw; */
    display: flex;
    position: relative;
    /* background-color: aliceblue; */
    flex-direction: row;
    vertical-align: top;
    justify-content: space-between;
    /* float:top; */
    margin-top: 0.25vw;
}


