.staff-main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-size : cover;
    background: url('../../images/home-bgimage-new.png') no-repeat center center fixed;
    background-position: right -9vw;
    background-size: cover;
}
  
.staff-card-container {
    /* background-color: red; */
    position: relative;
    width: 100vw;
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    /* background-color: #fff2e6; */
    padding-bottom: 3vw;
    /* align-items: center; */
}

.cards-table {
    display:inline-block;
    margin-left: 12vw;
    width:76vw;
    /* height:25vw; */
    display: flex;
    position: relative;
    /* background-color: aliceblue; */
    flex-direction: row;
    vertical-align: top;
    justify-content: space-between;
    /* float:top; */
    margin-top: 0.25vw;
}

.staff-title {
    font-size: 4vw;
    font-family: 'Lexend Deca', sans-serif;
    color: #5C6A6F;
    padding-left: 37%;
    padding-top: 9vw;
    /* padding-bottom: 3vw; */
    /* transform: translate(-50%, -50%); */
}

.staff-description {
    font-size: 1vw;
    font-family: 'Tenor Sans', sans-serif;
    color: #5C6A6F;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 1.5vw;
    padding-bottom: 3vw;
    text-align: center;
}